QWidget#PassWordChangePage {
    border: none;
    border-radius: 10px;
    border-image: url(":/picture/Resource/Picture/passwordChange.jpg");
}

QLineEdit {
    background-color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 15px;
    height: 25px;
}

QLabel#titleLab {
    font-size: 26px;
    background-color: transparent;
    color: qlineargradient(x1:0,y1:0, x2:0, y2:1, stop:0 #edadef,stop:1 #8edaee);
}

QPushButton#cancelBtn {
    border: 1px solid gray;
    border-radius: 4px;
    height: 35px;
    width: 120px;
    font-size: 14px;
    background-color: rgb(240,240,240);
}

QPushButton#cancelBtn:hover {
    background-color: rgb(128, 128, 128);
}

QPushButton#okBtn {
    border: none;
    background-color: rgb(240,240,240);
    border-radius: 4px;
    color: #60b9f8;
    height: 35px;
    width: 120px;
    font-size: 14px;
}

QPushButton#okBtn:hover {
    background-color: #0096FF;
}

QPushButton#visableBtn {
    background-color: transparent;
    border-image: url(:/icon/Resource/Icon/hidePassword.png);
}

