QWidget#RegisterPage {
    border: none;
    border-radius: 10px;
    border-image: url(":/picture/Resource/Picture/register.jpg");
}

QLineEdit {
    background-color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 15px;
    height: 40px;
}


QPushButton {
    background-color: white;
    border-radius: 4px;
    height: 40px;
    padding: 5px 15px;
    font-size: 20px;
}


QLabel#title {
    font-size: 26px;
    background-color: transparent;
    color: qlineargradient(x1:0,y1:0, x2:0, y2:1, stop:0 #edadef,stop:1 #8edaee);
}

QLabel#header {
    font-size: 26px;
}

QPushButton#registerBtn:hover {
    font-size: 24px;
    background-color: rgb(240,240,240);
}
